<div class="card  p-2 m-2 box-shadow" style="width: 23rem; min-height: 15rem;">
   <div class=" card-right schedule_card_color"></div>
   <div class="task_icon schedule_card_icon"></div>
   <div class="card-block p-0 m-0 bg-white">
      <div class="container ">
      <div class="row text-left">
       <div class="col-md-12"> 03/02/2018
         </div>
         </div>
         <div class=" row  bg-white">
            <div class="d-flex">
               <div class="col-md-12">
                  <p4 class=" schedule_card_textcolor mr-2"> <i
                     class="far fa-clock"></i> 04:16 PM </p4>
                  <p4 class=" schedule_card_textcolor"> <i
                     class="far fa-hourglass"></i> 6 hrs : 0 mins </p4>
               </div>
            </div>
         </div>
         <div class=" row  bg-white mt-2">
            <div class="col-md-3  pr-0">
               <img alt="Retail Banking " align="middle" class="w-100 h-100"
                  ng-src="http://business.talentify.in:9999//course_images/5.png"
                  src="http://business.talentify.in:9999//course_images/5.png">
            </div>
            <div class="col-md-9">
               <h6>$xxx</h6>
               <h5>h4. Bootstrap heading</h5>
               <h5>h5. Bootstrap heading</h5>
            </div>
         </div>
         <hr class="mb-0">
         <div class="row text-center align-items-center mt-2" style="line-height:15px;">
            <div class="col-md-3 text-center font-14">
               Talentify score
            </div>
            <div class="col-md-3 font-14 pl-4">
               Self Rating 
            </div>
            <div class="col-md-3 font-14">
               Keyword Detection
            </div>
            <div class="col-md-3 font-14">
               Sentiment Score
            </div>
         </div>
         <div class="row text-center align-items-center	mt-2">
            <div class="col-md-3 text-center">
               <div class="rateYo" data-rating="4.5" data-star_width="14"></div>
            </div>
            <div class="col-md-3">
               <div class="rateYo" data-rating="3.5" data-star_width="14"></div>
            </div>
            <div class="col-md-3">
               100%
            </div>
            <div class="col-md-3">
               %
            </div>
         </div>
                  <hr class="mb-0">
         <div class="row text-left">
         <div class="col-md-12">
         Mild interest
         </div>
         </div>
      </div>
   </div>
</div>